<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceSystem"
        tools:targetApi="31">




        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>





        <activity
            android:name=".AdminProfile"
            android:screenOrientation="locked"
            android:exported="false" />

        <activity
            android:name=".AttendanceReport"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".AdminSignup"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".AdminPanel"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".UserAttendance"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="locked"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>